RewriteEngine on

Options +FollowSymLinks
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule . web/index.php [QSA,L]
#RewriteRule ^model/([0-9a-z]+)/?$ views/site/model.php?brand=$1 [QSA,L]
#RewriteRule ^site/model/([0-9a-z]+)/?$ frontend/views/site/model.php?brand=$1 [QSA,L]