RewriteEngine on
# Если директория или файл созданы, то не использовать правила
# а обращаться к файлу напрямую
# для картинок например
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php